<p>Employee Page</p>

<h1 *ngIf="visible">{{title}}</h1>

<input type="radio" name="topgun" (click)="OnChange(true)">true
<input type="radio" name="topgun" (click)="OnChange(true)">false


<div *ngIf="IsVisible; then thenBlock; else elseBlock"> Test </div>

<ng-template #thenBlock>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</ng-template>

<ng-template #elseBlock>
    <p>Autem illo nobis laudantium ullam, vel officiis? Architecto, repellendus corporis sed illo dolore libero quos, provident debitis rerum, minima laudantium a aperiam.</p>
</ng-template>

<select (change)="SetColor($event)">
    <option value="">---Select color---</option>
    <option value="R">Red</option>
    <option value="G">Green</option>
    <option value="B">Blue</option>
</select>

<div [ngSwitch]="color">
    <div *ngSwitchCase="'R'">
        <p style="color:red"> Ini red color </p>
    </div>
    <div *ngSwitchCase="'G'">
        <p style="color:green"> Ini green color </p>
    </div>
    <div *ngSwitchCase="'B'">
        <p style="color:blue"> Ini blue color </p>
    </div>
    <div *ngSwitchCaseDefault>
        <p style="color:black"> Ini black color </p>
    </div>
</div>