<p>Employee Page</p>

<h1 *ngIf="visible">{{title}}</h1>

<input type="radio" name="topgun" (click)="OnChange(true)">true
<input type="radio" name="topgun" (click)="OnChange(true)">false


<div *ngIf="IsVisible; then thenBlock; else elseBlock"> Test </div>

<ng-template #thenBlock>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</ng-template>

<ng-template #elseBlock>
    <p>Autem illo nobis laudantium ullam, vel officiis? Architecto, repellendus corporis sed illo dolore libero quos, provident debitis rerum, minima laudantium a aperiam.</p>
</ng-template>

<select (change)="SetColor($event)">
    <option value="">---Select color---</option>
    <option value="R">Red</option>
    <option value="G">Green</option>
    <option value="B">Blue</option>
</select>

<div [ngSwitch]="color">
    <div *ngSwitchCase="'R'">
        <p style="color:red"> Ini red color </p>
    </div>
    <div *ngSwitchCase="'G'">
        <p style="color:green"> Ini green color </p>
    </div>
    <div *ngSwitchCase="'B'">
        <p style="color:blue"> Ini blue color </p>
    </div>
    <div *ngSwitchCaseDefault>
        <p style="color:black"> Ini black color </p>
    </div>
</div>
<br>
<table border="1">
    <thead>
      <th>S/No</th>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>First Rec</th>
      <th>Last Rec</th>
    </thead>
    <tbody>
    <tr *ngFor="let employee of Employee; let i = index; first as isFirst; last as isLast; trackBy:TrackByEmployeeName; even as isEven; odd as isOdd"
      [ngClass]="isEven? 'color1': 'color2'">
      <!-- [ngStyle]="{'color': isEven? 'green': 'orange'}"> -->

      <td>{{i + 1}}</td>
      <td>{{employee.Name}}</td>
      <td>{{employee.Age}}</td>
      <td>{{employee.Gender}}</td>
      <td>{{isFirst}}</td>
      <td>{{isLast}}</td>
    </tr>
    </tbody>
  </table>

  <br>
  <br>
  <button (click)="GetMoreEmployee()">Add more employees</button>

  <p [ngClass]="'color1'"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis obcaecati reprehenderit esse incidunt suscipit porro autem sed. Consequuntur reiciendis dolor exercitationem repudiandae aut nam, quas minima laboriosam tempora natus unde?</p>